services:
  navidrome:
    image: deluan/navidrome
    container_name: navidrome
    hostname: navidrome
    environment:
      ND_LOGLEVEL: info
      ND_COVERJPEGQUALITY: 100
      ND_DEFAULTDOWNSAMPLINGFORMAT: mp3
      ND_ENABLEGRAVATAR: true
      ND_ENABLESTARRATING: false
      ND_IMAGECACHESIZE: "500MB"
      ND_SCANNER_EXTRACTOR: "ffmpeg"
      ND_TRANSCODINGCACHESIZE: "500MB"
      ND_LASTFM_APIKEY: ${LASTFM_APIKEY}
      ND_LASTFM_SECRET: ${LASTFM_SECRET}
      ND_SPOTIFY_ID: ${SPOTIFY_ID}
      ND_SPOTIFY_SECRET: ${SPOTIFY_SECRET}
    volumes:
      - "${DATA_FOLDER:-./data}:/data"
      - "${MUSIC_FOLDER}:/music:ro"
    restart: unless-stopped
    networks:
      external:
        ipv4_address: ${NAVIDROME_IP}

networks:
  external:
    name: ${EXTERNAL_NETWORK_NAME}