services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    ports:
      - "${APP_PORT:-4533}:4533"
    environment:
      ND_LOGLEVEL: info
      ND_COVERJPEGQUALITY: 100
      ND_DEFAULTDOWNSAMPLINGFORMAT: mp3
      ND_ENABLEGRAVATAR: true
      ND_ENABLESTARRATING: false
      ND_IMAGECACHESIZE: "500MB"
      ND_SCANNER_EXTRACTOR: "ffmpeg"
      ND_TRANSCODINGCACHESIZE: "500MB"
      ND_LASTFM_APIKEY: ${LASTFM_APIKEY}
      ND_LASTFM_SECRET: ${LASTFM_SECRET}
      ND_SPOTIFY_ID: ${SPOTIFY_ID}
      ND_SPOTIFY_SECRET: ${SPOTIFY_SECRET}
    volumes:
      - "data:/data"
      - "${MUSIC_FOLDER}:/music:ro"
    restart: unless-stopped
    networks:
      - net

networks:
  net:
    external: false

volumes:
  data:
    name: navidrome-data